@page
@model EfCoreUsecase.Pages.ProductCategory.CreateModel
@{
}

<form method="post">
    <div class="row">
        <div class="col-md-6 form-control">
            <label for="name">نام گروه</label>
            <input name="name" type="text"/>
            <div class="col-md-12">
                <button type="submit" class="btn-success btn">ایجاد</button>
            </div>
        </div>
    </div>
</form>
